@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$indigo-palette);

.selected {
  background: mat.get-color-from-palette($my-palette, 'lighter');
  color: mat.get-color-from-palette($my-palette, 'default');
}
