  <div class="private-nav">
    <a mat-stroked-button color="primary" routerLinkActive="selected" routerLink="/dashboard">Dashboard</a>
    <a mat-stroked-button color="primary" routerLinkActive="selected" routerLink="/gallery">Gallery</a>
    <a mat-stroked-button color="primary" routerLinkActive="selected" routerLink="/crud">CRUD</a>
    <a mat-stroked-button color="primary" routerLinkActive="selected" routerLink="/profile">Profile</a>
    <a mat-stroked-button color="primary" routerLinkActive="selected" routerLink="/rotate">Rotate Directive</a>
  </div>
