*, *::before, *::after{
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  margin: 0 0 0 30px;
 }
 .character-row {
  cursor: pointer;
 }
 .episode-row {
  cursor: pointer;
  padding: 15px 15px;
  font-weight: bold;
  transition: 200ms ease-in;
 }
 .episode-row:hover {
  background-color: #d3d3d3;
 }
 #detail {
  position: fixed;
  right: 0;
  padding: 25px;
  background-color: #666;
  color: white;
  font-size: 140%;
  height: 100vh;
  width: 35%;
  text-align: center;
 }
 .thumbnail {
  border-radius: 50%;
  margin: 15px;
  vertical-align: middle;
 }
nav{
  display: flex;
  justify-content: start;
  width: 50%;
  gap: 15px;
  margin-bottom: 15px;
} 
a.nav__link{
  padding: 15px;
  background-color: #666;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
a.nav__link:hover{
  background-color: rgb(145, 93, 93);
}
a.nav__link--current, a.nav__link--current:hover{
  background-color: indianred;
}
#pagination{
  font-size: 0.8rem;
  width: 400px;
  height: min-content;
  display: flex;
  gap:10px;
  align-items: center;
}
#pagination a{
  text-decoration: none;
  font-weight: bold;
}
#seasonsMenu{
  font-size: 0.75rem;
  width: 400px;
  height: min-content;
  display: flex;
  gap:10px;
  align-items: center;
  margin-bottom: 1rem;
}
a.seasonsMenu__a{
  padding: 10px;
  background-color: #666;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
a.seasonsMenu__a--current{
  background-color: #2b2b2b!important;
  color: white;
}