.gallery{
  background-color: lightgrey;
}
.images-collection{
  display: flex;
  width:max-content;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: #000;
}
.selected{
  border-bottom: 5px solid indianred;
}
.disabled{
  opacity: 70%;
}
